

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container{
    width: 671px;
    margin: 0 auto;
    border: gray 1px solid;
    margin-top: 10px; /*Lägger till lite space över containern som på bilden*/
}
#content{
    background-color:rgb(234,232,211);
    overflow: auto;
}
#maincontent{
    float: left;
    width: 60%;
    padding: 10px;
    overflow: auto;
}
#maincontent img{
    float: left;
    padding: 5px;
}
#maincontent p{
    font-family: Verdana;
    padding-top: 10px;
    font-size: 0.9em;
    color: rgb(104, 95, 95);
    line-height: 1.6;
}
#maincontent h1{
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight: 200;
    font-size: 35px;
    color: rgb(131, 125, 125);
}
#menu{
    padding: 12px;
    margin-bottom: -3px; /*För att minska avståndet mellan menu och content..*/
}
#menu a { /*Denna gör att skip navigation försvinner*/
    display: none;
}
#menu ul a {  /*Denna gör att menyn synns om ^ är aktiv*/
    display: inline;
    padding: 7px 25px;
    margin: -1.5px; /*Minskar mellanrummet mellan menyvalen!*/
    background-color: rgb(121,113,102);
    text-transform: capitalize; /*Gör att det blir stor bokstav i början på alla ord*/
    text-decoration: none; /*Tar bort understrecket*/
    color: rgb(221, 221, 196);
    font-family: 'verdana';
    font-size: 0.8em;
    position: relative; /*Rättar till  med 1 pixel*/
    top: 1px;
    border-top: rgb(133, 133, 118) solid 1px; /*Denna border ger en mer 3D-aktig känsla som finns i orginalet*/
}
#menu ul a:hover { /*Denna påverkar utseendet på menyknapparna när man håller muspekaren över dem*/
background-color: rgb(156,144,132);
}
#menu ul li { /*Denna gör att listan blir horizontal istället för vertical.*/
    display: inline;
}
#menu .active a { /*Jag kunde skrivit bara .active a, men om jag skriver såhär så får den högre prioritet! och ändrar färg*/
    background-color: rgb(233, 233, 209);
    color: rgb(143, 138, 138);
    position: relative; /*vi gör position relative så att vi kan flytta ner den aktiva lådan 1 px*/
    top: 2px;
}
#subcontent{
    float:left;
    width: 30%;
    padding: 10px;
    border-left: 1px gray dashed;
    position: relative;
    margin-top: 13px;

}
#subcontent p{
    font-size: 0.7em;
    font-family: 'verdana';
    padding-top: 20px;
    color: rgb(104, 95, 95);
    line-height: 1.6;
}
#subcontent h1{
    font-weight: 100;
    font-size: 1.2em;
    position: relative;
    color: rgb(120,113,103);
}
#subcontent h1, #subcontent p{
    position: relative;
   /* bottom: 15px;  <-- tar bort denna då det blir mer likt utan  */
}
#subcontent p {
padding-bottom: 20px;
}
#subcontent a:link {
    color: rgb(90, 70, 70);
    font-size: 1.1em;
    line-height: 1.3;
}
#bottomcontent{
    position: relative;
    bottom: 0;
    padding: 10px;
    float: left;
    font-style: italic;
    font-size: 0.8em;
    color: rgb(104, 95, 95);
}
#topbar{
    background-color: rgb(81,71,61);
    padding-bottom: 270px;
    margin-bottom: -39px;
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-position-y: 18px;
    background-size: 100%;
    /*Här kommer kod som anpassar text som ej är skriven i några taggar..*/
    color: rgb(234,232,211);
    text-align: right;
    font-style: italic;
    font-size: 0.6em;
    padding-top: 3px;
    font-family: verdana;
    border-top: 1px black solid; /*lägger till border som på originalet!*/
    border-bottom: 1px black solid;
}
body{
    background-color: rgb(251,250,245);
}
li{
    list-style-type: none;
}
h2{
    color: rgb(131, 125, 125);
    color: rgb(107, 86, 86);
}
