

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container{
    width: 671px;
    margin: 0 auto;
    border: gray 1px solid;
}
#content{
    background-color:rgb(234,232,211);
    overflow: auto;
}
#maincontent{
    float: left;
    width: 60%;
    padding: 10px;
    overflow: auto;
}
#maincontent img{
    float: left;
    padding: 5px;
}
#maincontent p{
    font-family: Verdana;
    padding-top: 10px;
    font-size: 0.9em;
    color: rgb(104, 95, 95);
    line-height: 1.6;
}
#maincontent h1{
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight: 200;
    font-size: 35px;
    color: rgb(131, 125, 125);
}
#subcontent{
    float:left;
    width: 30%;
    padding: 10px;
    border-left: 1px gray dashed;
    position: relative;
    margin-top: 33px;

}
#subcontent p{
    font-size: 0.7em;
    font-family: 'verdana';
    padding-top: 20px;
    color: rgb(104, 95, 95);
    line-height: 1.6;
}
#subcontent h1{
    font-weight: 100;
    font-size: 1.2em;
    position: relative;
    color: rgb(70, 59, 59);
}
#subcontent h1, #subcontent p{
    position: relative;
    bottom: 15px;
}
#bottomcontent{
    position: relative;
    bottom: 0;
    padding: 10px;
    float: left;
    font-style: italic;
    font-size: 0.8em;
    color: rgb(104, 95, 95);
}
li{
    list-style-type: none;
}
